* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    line-height: normal;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #fff9fb;
}

nav {
    padding: 1rem 5rem;
}
/* Navbar Start */
.nav-logo img{
    width: 6rem;
    margin-left: 20px;
}

.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    display: flex;
    gap: 2rem;
    font-weight: 600;
}

.nav-item a{
    font-size: 20px;
}

.nav-item div,
.nav-item div a{
    color: black;
    transition: 0.3s;
}

.nav-item div:hover,
.nav-item div a:hover{
    color: rgb(126, 126, 255);
}
/* Navbar End */

.blog{
    height:100vh;
}

/* Content Start */
.content{
    z-index: 99;
    position: relative;
    padding: 4rem 8rem;
}

.content h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.card-box{
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
}

.card-box a{
    color: black;
}

.card-article{
    display: flex;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 1rem rgba(92, 92, 92, 0.5);
    height: 100%;
}

.card-article h3{
    margin: 1rem 0;
    font-size: 25px;
}

.card-article img{
    width: 20rem;
    height: 17rem;
}


.card-article span{
    width: fit-content;
    background-color: #ffc8dd;
    padding: 0.1rem 0.5rem;
    border-radius: 25px;
    margin-bottom: 1rem;
}

.card-article p{
    width: 14rem;
    font-size: 0.9rem;
    text-align: center;
}
/* Content End */

/* Footer Start */
footer div{
    display: flex;
    justify-content: center;
}


.button-parent {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    gap: 1rem;
}

.button-order{
    background-color: bisque;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-weight: 700;
    color: white;
}

#buttonContainer {
    background: linear-gradient(-74.09deg, #df5d8c, #ffcade);
}

#buttonContainerPrev {
    background: linear-gradient(-74.5deg, #94bce1, #bde0fe);
}
/* Footer End */